@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: darkgrey;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 100px;
    color: black;
    cursor: pointer;
}
  